@model IEnumerable<Entities.Employees>

@{
    int count = 0;
    ViewData["Title"] = "MySalaryInfo";
    Layout = "_EmployeeLayout";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><strong>Employee Salary</strong></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Employee Salary</a></li>
                        <li class="breadcrumb-item active">Manage Salary</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="container">

        <div class="card">
            <div class="table-responsive">
                <br />
                <table class="table table-striped" style="margin:5px;" id="mysalarytable">
                    <thead style="background-color:#17a2b8!important;">
                        <tr>
                            <th>Sr.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Image</th>
                            <th>Salary</th>
                            <th>Status</th>
                            <th>Credit On</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in Model)
                        {
                            count += 1;
                            <tr>
                                <td>@count</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>
                                    <a class="fancybox" href="@item.Image" data-fancybox data-caption="@item.Name">
                                        <img src="@item.Image" onerror="this.onerror=null;this.src='/images/noimage.jpg'" class="img-fluid rounded-circle" alt="No Image Found" width="90px" height="50px" />
                                    </a>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                                <td>
                                    @{
                                        var sText = "";
                                        var sClass = "";
                                        @if (item.Status==1)
                                        {
                                            sText = "Credited";
                                            sClass = "badge badge-success";
                                        }
                                        else
                                        {
                                            sText = "Not Credit";
                                            sClass = "badge badge-Danger";
                                        }
                                    }
                                    <label class="@sClass">@sText</label>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.CreditOn)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="PayPV"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js">
</script>
<script>
    jQuery(document).ready(function ($) {
        $("#mysalarytable").DataTable();
    });

</script>



