@model IEnumerable<Entities.DboyReviewStatistics>

@{
    ViewData["Title"] = "";
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>


.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
</style>

<div class="row">
        <section class="col-lg-6 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                    <i class="fa fa-comments-o"></i>
                        FeedBack
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </ul>
                    </div>
                </div><!-- /.card-header -->
                <div class="card-body">

                <div class="tab-content p-0">
                    <span class="heading">User Rating</span>
                    @if (Model.Any())
                    {
                        var averageRating = Model.First().AverageRating;
                        var totalStars = 5;
                        var checkedStars = (int)Math.Round(averageRating);

                        for (var i = 0; i < totalStars; i++)
                        {
                            <span class="fa fa-star @(i < checkedStars ? "checked" : "")"></span>
                        }

                        <p>@Model.First().AverageRating average based on @Model.First().AllRecords reviews.</p>
                    }
                    else
                    {
                        <p>No reviews available.</p>
                    }
                        <hr style="border:3px solid #f1f1f1">

                        <!-- Morris chart - Sales -->
                        <div class="chart tab-pane active" id="revenue-chart"
                             style="position: relative; height: 350px;">
                            <div class="col-md-12">
                            @foreach(var item in Model)
                            {
                                <div class="progress-group">
                                    @item.Rating Star
                                    <span class="float-right"><b>@item.TotalRating</b>/@item.AllRecords</span>
                                    <div class="progress">
                                        <div class="progress-bar bar-@item.Rating" style="width: @item.Percentage%"></div>
                                    </div>
                                </div>
                                <br />
                            }
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
