@model IEnumerable<Entities.TeaKart>
@{
    var count = 0;
    ViewData["Title"] = "AllTeaKartList";
    Layout = null;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Inbox</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">TeaKart</a></li>
                        <li class="breadcrumb-item active">Menu</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div>
        <div class="card" id="snackbar">Data Saved Successfully</div>
        <div class="card" id="snackbar2">Data Updated Successfully</div>
        <div class="card" id="snackbar3">Deleted.</div>
    </div>
    <div class="container">
        <button type="button" class="btn btn-primary" onclick="EditTeaKart();">Add New Tea</button>
        <a href="/Menu/MenuIndex" class="btn btn-info float-right" style="text-align:right;">Back To List</a>
        <br />  <br />
        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead style="background-color:#17a2b8!important;">
                        <tr>
                            <th>Sr No:</th>
                            <th>
                                Name
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Prize
                            </th>
                            <th>
                                AddDate
                            </th>
                            <th>
                                Status
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                         @if (Model == null || !Model.Any())
                            {
                                <tr>
                                    <td colspan="12" style="text-align: center;">
                                        <label><strong>Reacord Not Found</strong></label>
                                    </td>
                                </tr>
                            }
                            else
                            {
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeaName)
                                </td>
                                <td>
                                    <a class="fancybox" href="@item.TeaImage" data-fancybox data-caption="@item.TeaName">
                                        <img class="img-fluid rounded-circle" src="@item.TeaImage" onerror="this.onerror=null;this.src='/images/noimage.jpg'" alt="No Image Found" style="width:85px;height:74px;">
                                    </a>

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeaPrize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @{
                                        var ckb = @item.Status == 0 ? "unchecked" : "checked";
                                    }

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch3_@item.TeaId" onchange="TeaStatus(@item.TeaId);" @ckb>
                                                <label class="custom-control-label" for="customSwitch3_@item.TeaId">Available</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" onclick="EditTeaKart(@item.TeaId)"><span class="fas fa-edit" style="color: Blue"></span> Edit</a>

                                            <a class="dropdown-item" href="@Url.Action("Details", new { id=item.TeaId })"><i class="fas fa-info-circle" style="color: darkgreen"></i> Details</a>
                                            <a class="dropdown-item" href="@Url.Action("Delete", new { id=item.TeaId })" onclick="deleteSubjectdata('@item.TeaId');"><i class="fas fa-trash-alt" style="color: red"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function EditTeaKart(TeaId) {
        let param = {
            TeaId: TeaId,
        };
        $.post("/TeaKart/EditTeaKart", param).done(function (res) {
            $("#PartialView").html(res);
        }).fail(function () {
            alert("errror");
        })
    }

    function TeaStatus(TeaId) {
        var id = $("#customSwitch3_" + TeaId).prop("checked");
        if (id == true) {
            id = 1;
        } else {
            id = 0;
        }
        var param = {
            TeaId: TeaId,
            Status: id,
        };
        Swal.fire({
            title: 'Are you sure you want to Update?',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Update it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/TeaKart/UpdateTeaKartStatus',
                    type: 'POST',
                    data: param,
                    success: function (data) {
                       
                        showinsertsuccess("Status Update Successfully");
                    },
                });
            } else {
              
                showerror("Status Not Updated");
            }
        });
    }
    function showinsertsuccess(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
        jQuery("#snackbar").html(msg);
    }
    function showerror(msg) {
        var x = document.getElementById("snackbar3");
        x.className = "show3";
        setTimeout(function () { x.className = x.className.replace("show3", ""); }, 4000);
        jQuery("#snackbar3").html(msg);
    }
</script>

