@model IEnumerable<Entities.OrdersReport>
@{
    ViewData["Title"] = "OrderHistory";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid page-header py-5">
	<h1 class="text-center text-white display-6">Order History</h1>
	<ol class="breadcrumb justify-content-center mb-0">
		<li class="breadcrumb-item"><a href="/Home">Home</a></li>
		<li class="breadcrumb-item active text-white">Order</li>
	</ol>
</div>
<br />
<main id="main">
	<div class="product_image_area card">
		<div class="container">
			    @if (Model == null || !Model.Any())
            {

                <div style="text-align:center;">
					<br />
                    <h3><strong>Oops! Looks like you haven't made any orders yet.</strong></h3>
                    <p>Start your shopping journey now and create your first order!</p>
                </div>
            }
            else
            {
			 @foreach (var item in Model)
                    {
						<input type="text" hidden id="@item.OrderID"/>
						<br />
			<div class="row s_product_inner">
				<div style="text-align:right;">
					  @{
                                        string Status = "";
                                        string classbadge = "";
                                        if (@item.Status == 1)
                                {
                                    
                                    classbadge = "badge badge-warning";
									Status =  "Pending";
                                }
                                else if (@item.Status == 2)
                                {
                                  
                                    classbadge = "badge badge-danger";
									Status =  "Reject";
                                }
                                  else
                                {
                                    Status =  "Deliverd";
                                     classbadge = "badge badge-primary";
                                }
                            }
					 <h1 class="@classbadge"><strong>@Status</strong></h1>
				</div>
				<div class="col-lg-6">
					<div class="">
						<div class="single-prd-item">
									<img src="@item.DishImage" alt="img" class="img-fluid rounded-circle" onclick="OrderDetails(@item.OrderID);" style="width:200px;height:200px;">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>@item.DishName</h3>
								<h2>₹ @item.TotalAmount</h2>
						<div class="product_count">
							<label for="qty">Quantity:</label>
								<label  class="input-text qty" id="qty">@item.Quantity</label>
						</div>
												<div class="product_count">
							<label for="qty">Order Date:</label>
								<label  class="input-text qty" id="qty">@item.OrderDate</label>
						</div>
					</div>
							
					<div class="s_product_text" style="text-align:right;">
							<a href="#"> <h6 class="fa fa-download" onclick="InvoiceGenerate(@item.OrderID);" ><strong> Get Invoice</strong></h6></a>
								<div class="s_product_text" style="text-align:right;">
									<a href="#"> <h6 class="fa fa-info-circle text-info" onclick="OrderDetails(@item.OrderID);"><strong> Order Details</strong></h6></a>
								</div>
						</div>
				</div>
			</div>
			<hr />
			}
			}
		</div>
	</div>
	<div id="OrderDPV"></div>
	</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
function InvoiceGenerate(id) {
    window.location.href = '/Invoice/Invoice?id=' + id;
	    var receiptContent = document.querySelector('.receipt-main');

}

	function OrderDetails(id) {
		window.location.href = '/Order/OrderDetails?id=' + id;
	}
	</script>


