@model IEnumerable<Entities.Foodkart>
@{
    ViewData["Title"] = "Menu";
    Layout = null;
}

@foreach (var item in Model)
{
    <input type="text" id="hdnvarientid" hidden value="@item.Id" />
    <div class="col-lg-6 menu-item">
        <img src="@item.DishImage" class="menu-img" alt="@item.DishName">
        <div class="menu-content">
            <a href="#">@item.DishName</a>@* <span><del>@item.MRP</del></span> *@<span>@item.DishPrize</span>
            <!-- Add To Cart Button -->
            <a class="social-info" onclick="GetVarientList('@item.DishId');">
                <span class="fa fa-shopping-cart"></span>
                <p class="hover-text"></p>
            </a>
        </div>
        <div class="menu-ingredients">
            @item.DishDescription
        </div>
    </div>
}
<script>
    function AddCart(Id) {
        let data = {
            Id: Id,
        };

        $.post('/Cart/AddCart', data)
            .done(function (res) {
                if (res === -2) {
                    errors("Please log in to add items to your cart.");
                } else if (res === -1) {
                    errors("This dish is already in the cart. Please choose a different dish.");
                } else {
                    success("Dish added successfully to your cart.");
                }

            })
            .fail(function () {
                // Handle the failure case
                showAlert("Failed to add dish. Please try again later.");
            });
    }

    function showinsertsuccess(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
        jQuery("#snackbar").html(msg);
    }
    function showerrors(msg) {
        var x = document.getElementById("snackbar3");
        x.className = "show3";
        setTimeout(function () { x.className = x.className.replace("show3", ""); }, 4000);
        jQuery("#snackbar3").html(msg);
    }
</script>