@model Entities.Foodkart
@{
    ViewData["Title"] = "Menu";
    Layout = "_UserLayout";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop Detail</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop Detail</li>
    </ol>
</div>
<div>
    <div class="card" id="snackbar4"></div>
    <div class="card" id="snackbar5"></div>
</div>
<!-- Single Page Header End -->
<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="@Model.DishImage" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">@Model.DishName</h4>
                        <p class="mb-3">Category: @Model.DishCategoryName</p>
                        <h5 class="fw-bold mb-3">@Model.DishPrize</h5>
                        <div class="d-flex mb-4">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="mb-4">@Model.DishDescription</p>
                        <br />
                        <a onclick="GetVarientList(@Model.DishId);" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                    <input type="text" hidden id="dishcategoryid" value="@Model.DishCategoryId" />
                    <input type="text" hidden id="dishid" value="@Model.DishId" />
                    <br />
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                        id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                        aria-controls="nav-mission" aria-selected="false">
                                    Reviews
                                </button>
                            </div>
                        </nav>
                        <br />
                        <div class="row">
                            <div class="col-md-10">
                                <div class="tab-content mb-5">
                                    <div class="tab-pane active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                        <div id="UserReviewsPV"></div>
                                    </div>
                                    <div class="tab-pane" id="nav-vision" role="tabpanel">
                                        <p class="text-dark">
                                            Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                            amet diam et eos labore. 3
                                        </p>
                                        <p class="mb-0">
                                            Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                            Clita erat ipsum et lorem et sit
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ReviewPV"> 

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                   
                    <div class="col-lg-12">
                        <h4 class="mb-4">Featured products</h4>
                        <div class="d-flex align-items-center justify-content-start">
                            <div id="SpecialDishPartialView"></div>
                        </div>
                        <div class="d-flex justify-content-center my-4">
                            <a href="/Menu/Menu" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="position-relative">
                            <img src="~/Uimg/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="fw-bold mb-0">Related products</h1>
        <br />
        <div id="RelatedProductPV"></div>
    </div>
    <div id="modalVarientPartialView"></div>
</div>
<!-- Single Product End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function AddProductReview(rating) {
        var param = {
            DishId: jQuery("#dishid").val(),
            Name: jQuery("#Name").val(),
            Email: jQuery("#Email").val(),
            Comment: jQuery("#Comment").val(),
            Rating: rating,
        };
        $.post("/ProductReview/AddorUpdateProductReview", param).done(function (response) {
            alert("done ProductReview");
        }).fail(function () {
            alert("error");
        });
    }
    
    function validateReview() {
        let isvalidated = true;
        let msg = "<ul>";

        function addError(message) {
            msg += `<li>${message}</li>`;
            isvalidated = false;
        }
        if ($("#Name").val() === "") {
            addError("Please enter name");
        }
        if ($("#Email").val() === "") {
            addError("Please enter Email");
        }
        if ($("#Comment").val() === "") {
            addError("Please enter comment");
        }

        if (!isvalidated) {
            msg += "</ul>";
            Hide_Loader();
            errors(msg);
        }

        return isvalidated;
    }


    function OnReview()
    {
        if (validateReview()) {
            $("#ReviewModal").modal("show");
        }
        
    }
    function EditReviewForm() {
        $.post("/ProductReview/EditReview").done(function (res) {
            $("#ReviewPV").html(res);
        }).fail(function () {
            alert("errror");
        })
    }
    EditReviewForm();
    function UserReviews() {
        $.post("/ProductReview/ShowReviews").done(function (res) {
            $("#UserReviewsPV").html(res);
        }).fail(function () {
            alert("errror");
        })
    }
    UserReviews();
    
    function OnItemDetail(Id) {
        var Url = "/Details?Id=" + Id;
        window.location.href = Url;
    }
    function RelatedProducts() {
        var param = {
            Id: $("#dishcategoryid").val(),
        };
        $.post("/Category/RelatedProducts", param).done(function (res) {
            $("#RelatedProductPV").html(res);
        }).fail(function () {
            alert("Related Products not found");
        });
    }
    window.onload = function () {
        RelatedProducts();
    };
    
    function Categoryload() {
        $.post("/Category/Category").done(function (res) {
            $("#CategoryPartialView").html(res);
        }).fail(function () {
            alert("errror");
        })
    }
    Categoryload();

    function SpecialDishFormLoad() {
        $.post("/Category/SpecialDish").done(function (res) {
            $("#SpecialDishPartialView").html(res);
        }).fail(function () {
            alert("errror");
        })
    }
    SpecialDishFormLoad();
</script>

