@model IEnumerable<Entities.Foodkart>
@{
    ViewData["Title"] = "MenuQty";
    Layout = null;
}


<div class="container">
    <div class="row">
        <div class="modal fade" id="MyVarientModal" role="dialog" data-backdrop="static" data-keyboard="false" style="opacity:1;">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  
                    <div class="modal-body">
                       
                        <div class="card mb-12">
                            <div class="card-body">
                               
                                <div>
                                    <div class="card" id="snackbar4">Data Saved Successfully</div>
                                    <div class="card" id="snackbar5">Deleted.</div>
                                </div>
                                <div style="text-align:center;"><strong>@Model.FirstOrDefault()?.DishName</strong></div>
                                <hr />
                                @foreach (var item in Model)
                                {
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>@item.DishQuantity</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label><span><del>₹ @item.MRP</del></span>&nbsp; &nbsp;  <span>₹ @item.SellingCost</span></label>&nbsp;&nbsp; &nbsp; <span>
                                                <a onclick="AddCart('@item.Id');" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <hr>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

