@model IEnumerable<Entities.Foodkart>
@{
    ViewData["Title"] = "RecentView";
    Layout = null;
}
<div class="row g-4">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
                <div class="fruite-img">
                    <img src="@item.DishImage" class="img-fluid rounded-top" style="width:300px;height:200px;" onclick="OnItemDetail(@item.DishId);" alt="">
                </div>
                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.DishCategoryName</div>
                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                    <h5 style="width:auto;font:bolder ;font-size:large;font-weight:800;"><strong>@item.DishName</strong></h5>
                    <p>@item.DishDescription</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0"> &nbsp;&nbsp;&#8377; @item.DishPrize</p>
                        <a onclick="GetVarientList('@item.DishId');" class="btn border border-secondary rounded-pill px-3 text-primary">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
