@model IEnumerable<Entities.Event>
@{
    ViewData["Title"] = "Book Event";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js">
</script>
<div class="page-header col-md-12">
    <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
       <div id="EventBannerPV"></div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br />
<!-- ======= Book A Table Section ======= -->
@if (Model == null || !Model.Any())
{


    <div style="text-align:center;">
        <br />
        <h3><strong>Oops! It seems there are no upcoming events available.</strong></h3>
        <p>Explore our events and make sure to check back soon for upcoming opportunities!</p>
    </div>

}
else
{
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <div class="tab-class text-center">
                <h2><strong>Recently Viewed</strong></h2>
                <br />
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="row g-4">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="@item.eventImage" class="img-fluid rounded-top" style="width:300px;height:200px;" onclick="OnItemDetail(@item.eventID);" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Event Id: #@item.eventID</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h5 style="width:auto;font:bolder ;font-size:large;font-weight:800;"><strong>@item.eventName</strong></h5>
                                                <p>@item.eventDescription</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0"> &nbsp;&nbsp;&#8377; @item.eventOffPrice</p>
                                                    <a onclick="EventAddPV('@item.eventID','@item.eventName','@item.totalPeople');" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                         Book Event Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="EventAddPV"></div>
<div id="PaymentModalPV"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function EventBanner() {
        $.post("/Banners/EventBanner").done(function (res) {
            $("#EventBannerPV").html(res);
        }).fail(function () {
            alert("errror");
        })
    }
    EventBanner();

    function EventAddPV(id, eventname,tg) {
        $.post("/Event/BookEventSchedule").done(function (res) {
            $("#EventAddPV").html(res);
            $("#MyEventBookModal").modal("show");
            $("#eventid").val(id);
            $("#TotalGuest").val(tg);
            OnEventPageload(id);
            hideInputBox(eventname);
        }).fail(function () {
            alert("errror");
        })
    }
    function hideInputBox(eventname) {
        debugger;
        if (eventname == "Birthday ") {
            $(".bname").show();
            $(".cname").hide();
        } 
        else 
        {
            $(".bname").hide();
            $(".cname").show();
        }
    }
    function BookEvents() {
        debugger;
        Show_Loader();
        setTimeout(function () {
            if (validateEventBooking()) {
                let param = {
                    eventBookingId: $("#eventBookingId").val(),
                    eventID: $("#eventid").val(),
                    PhoneNo: $("#PhoneNo").val(),
                    TotalGuest: $("#TotalGuest").val(),
                    eventDate: $("#date").val(),
                    eventTime: $("#time").val(),
                    BPersonName: $("#bname").val(),
                    CoupleName: $("#cname").val(),
                    eventPrice: $("#Price").val(),
                };
                $.post('/Event/BookingEvent', param).done(function (res) {
                    Hide_Loader();
                    if (res.statusCode == -1) {
                        alert(res.responseText);
                    
                    }
                    alert(res.responseText);
                }).fail(function () {
                    Hide_Loader();
                    alert("Something went wrong!!!");
                });
            }
        }, 1500)
    }
    function OnEventPageload(Id) {
        debugger;
        var param = {
            id:Id,
        };
        $.post("/Event/EventPrice", param).done(function (res) {
            console.log(res);
            $("#Price").val(res.eventOffPrice);

        }).fail(function () {
            showerrors("Invalid Salary!!!");
        });

    }
    

    function validateEventBooking() {
        var selectedValue = $("#eventid").val();
        let isvalidated = true;
        let msg = "<ul>";

        function addError(message) {
            msg += `<li>${message}</li>`;
            isvalidated = false;
        }
        if ($("#eventid").val() === "") {
            addError("Please enter birthday boy/girl name");
        }
        if (selectedValue == 1) {
            if ($("#bname").val() === "") {
                addError("Please enter birthday boy/girl name");
            }
        }
        else {
            if ($("#cname").val() === "") {
                addError("Please enter couple name");
            }
        }
        if ($("#PhoneNo").val() === "") {
            addError("Please enter event name");
        }
        if ($("#TotalGuest").val() === "") {
            addError("Please enter no. of people");
        }
        if ($("#date").val() === "") {
            addError("Please enter date");
        }
        if ($("#time").val() === "") {
            addError("Please enter  time");
        }

        if (!isvalidated) {
            msg += "</ul>";
            Hide_Loader();
            showerrors(msg);
        }

        return isvalidated;
    }


    function onpayment() {
        if (validateTableBooking()) {
            $.post("/checkout/checkout")
                .done(function (res) {
                    $("#PaymentModalPV").html(res);
                })
                .fail(function () {
                    alert("error");
                });
        }
    }
    function Orderbook() {
        checkoutOrder();
    }
    function info() {
        alert("Apologies, but this service is currently unavailable. Please make payment using only the QR code method.");

    }
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function CreateQR() {
        var link = $("#dp").val();
        var randomColor = getRandomColor();

        var qrcode = new QRCode("qrcode", {
            text: link,
            width: 125,
            height: 120,
            colorDark: randomColor, // Change this to color: randomColor,
        });
        document.getElementById("qrcode").style.backgroundColor = randomColor;
    }

    CreateQR();
</script>

