@model IEnumerable<Entities.EventBooking>
@{
    string classbadge;
    string statustext;
    ViewData["Title"] = "NewBookingEventlist";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Booking</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Event</a></li>
                        <li class="breadcrumb-item active">New Event Booking</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div>
        <div class="card" id="snackbar"></div>
        <div class="card" id="snackbar2"></div>
        <div class="card" id="snackbar3"></div>
    </div>
    <div class="container">
        <br />
        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped" id="eventbooking">
                    <thead style="background-color:#17a2b8!important;">
                        <tr>
                            <th>
                                <label>Event Name</label>
                               
                            </th>
                            <th>
                                <label>Total Guest</label>
                                
                            </th>
                            <th>
                                <label>Event Date</label>
                                
                            </th>
                            <th>
                                <label>Event Time</label>
                             
                            </th>
                            <th>
                                <label>Created Date</label>

                            </th>
                            <th>
                                <label>Booking Status</label>
                              
                            </th>
                            <th>
                                <label>Event Status</label>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                                    @if (Model == null || !Model.Any())
                            {
                                <tr>
                                    <td colspan="12" style="text-align: center;">
                                    <h3><strong>Oops! Not Data Avalaible.</strong></h3>
                                    </td>
                                </tr>
                            }
                            else
                            {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                     @Html.DisplayFor(modelItem => item.eventName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalGuest)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.eventDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.eventTime)
                                </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.eventCreateDate)
                                    </td>
                                    <td>

                                        @{
                                            var stext = "";
                                            var ckb = @item.eventBookingStatus == 0 ? "unchecked" : "checked";
                                            classbadge = "";
                                            var btndisabled = "";
                                            if (@item.eventBookingStatus == 1)
                                            {
                                                classbadge = "badge badge-primary";
                                                stext = "comlete";
                                                btndisabled = "disabled";
                                            }
                                            else
                                            {
                                                classbadge = "badge badge-danger";
                                                stext = "Incomlete";
                                            }
                                        }

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch3_@item.eventBookingId" onclick="UpdateEventStatus(@item.eventBookingId);" @ckb @btndisabled>
                                                    <label class="custom-control-label @classbadge" style="color:white;" for="customSwitch3_@item.eventBookingId">@stext</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                <td>

                                        @{
                                            statustext = "";
                                            classbadge = "";
                                            if (@item.eventBookingStatus == 0)
                                            {

                                                classbadge = "badge badge-primary";
                                                statustext = "Active";
                                                
                                            }
                                            else if (@item.eventBookingStatus == 1)
                                            {

                                                classbadge = "badge badge-danger";
                                                statustext = "Deactive";
                                            }
                                    }
                                        <label class="@classbadge">@statustext</label>
                                </td>

                            </tr>
                        }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    jQuery(document).ready(function ($) {
        $("#eventbooking").DataTable();
    });
    function UpdateEventStatus(Id) {
        var id = $("#customSwitch3_" + Id).prop("checked");
        if (id == true) {
            id = 1;
        } else {
            id = 0;
        }
        var param = {
            eventBookingId: Id,
            eventBookingStatus: id,
        };

        Swal.fire({
            title: 'Are you sure event is successfully done?',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Update it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Event/UpdateBookingEventStatus',
                    type: 'POST',
                    data: param,
                    success: function (data) {
                        showinsertsuccess("Banner Updated Successfully");
                        window.location.href = "New-Event-Booking";
                    },
                });
            } else {

                showerror("Status Not Updated");
                window.location.href = "New-Event-Booking";
            }
        });
    }


    function showinsertsuccess(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        jQuery("#snackbar").html(msg);
    }
    function showerror(msg) {
        var x = document.getElementById("snackbar3");
        x.className = "show3";
        setTimeout(function () { x.className = x.className.replace("show3", ""); }, 3000);
        jQuery("#snackbar3").html(msg);
    }
</script>