@model Entities.PaymentDetails

@{
    ViewData["Title"] = "Payment Details";
    Layout = null;
}
<div class="modal fade" id="PaymentModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <section style="background-color: #eee;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                @{
                                                    var Status = Model.Status == 1 ? "1" : "0";
                                                    var txt = Status == "1" ? "Successful" : "Pending";
                                                    var cls = Status == "1" ? "badge badge-primary" : "badge badge-warning";
                                                }
                                               


                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Payment Id :</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <label>@Model.PaymentId</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Order Id :</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <label>@Model.OrderId</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">User Id :</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <label>@Model.UserId</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Payment Type :</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <label>@Model.PaymentType</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Payment On :</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <label>@Model.PaymentOn</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Status :</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <label style="text-align:center; width:120px;" class="@cls">@txt</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>