@model IEnumerable<Entities.Offer>
@{
    ViewData["Title"] = "Offer";
    Layout = "_UserLayout";
}

<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">All Booking</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active text-white">My Events</li>
    </ol>
</div>
@if (Model == null || !Model.Any())
{


}
else
{
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <div class="tab-class text-center">
                <h2><strong>Offer</strong></h2>
                <br />
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="row g-4">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="@item.OfferImage" class="img-fluid rounded-top" style="width:300px;height:200px;" onclick="OnItemDetail(@item.OfferId);" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.OfferName</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h5 style="width:auto;font:bolder ;font-size:large;font-weight:800;"><strong>@item.OfferName</strong></h5>
                                                <p>@item.Description</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0"> @item.Discount</p>
                                                    <a onclick="GetVarientList('@item.OfferId');" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}