@model IEnumerable<Entities.Address>
@{
    ViewData["Title"] = "UserAddress";
    Layout = "_UserLayout";
}
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Address</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
        <li class="breadcrumb-item active text-white">Address</li>
    </ol>
</div>


@if (Model != null && Model.Any())
{
    <div class="container-fluid vesitable py-5">
        <div class="container py-5">
            <h1 class="mb-0">All Saved Address</h1>
            <div style="padding:20px 0px 20px;" onclick="EditAddress();">
                <button type="button" class="btn btn-primary border-2 border-secondary py-3 px-4 text-white">Create New</button>
            </div>
            <div class="owl-carousel vegetable-carousel justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle fa fa-ellipsis-v text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;" data-bs-toggle="dropdown"></a>
                            <div class="dropdown-menu m-0 bg-secondary rounded-0 bg-white border-0 float-end">
                                <a class="dropdown-item fa fa-edit" style="width:20px;" onclick="EditAddress(@item.AddressId);"></a>
                                <a class="dropdown-item fas fa-trash-alt" style="color:black; width:20px;"></a>
                            </div>
                        </div>

                        <div class="p-4 rounded-bottom">
                            <h4>@item.RecipientName</h4>
                            <p style="height:60px;">@item.StreetAddress</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">@item.PostalCode</p>
                                <br />
                                <p class="text-dark fs-5 fw-bold mb-0">@item.RecipientContact</p>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="AddressPV"></div>
    </div>
}
else
{<br />
    <div style="text-align:center;" class="card">
        <br />
        <h3><strong>Oops! Looks like you haven't Saved any address yet.</strong></h3>
        <p>Start your shopping journey now and saved your address here!</p>
        <div style="text-align:center;" onclick="EditAddress();">
            <button type="button" class="btn btn-primary border-2 border-secondary py-3 px-4 text-white">Create New</button>
        </div>
        <br />
    </div>
    <div id="AddressPV"></div>
    <br />
}


<script>
    function EditAddress(Id) {

        let param = {
            id: Id,
        };
        $.post("/Address/EditAddress", param).done(function (res) {
            $("#AddressPV").html(res);
            $("#AddressModal").modal("show");
        }).fail(function () {
            alert("errror");
        })
    }
    function AddOrUpdateAddress() {
        Show_Loader();
        setTimeout(function () {
        if (validateAddress()) {

            var param = {
                AddressId: $("#AddressId").val(),
                RecipientName: $("#RecipientName").val(),
                RecipientContact: $("#RecipientContact").val(),
                StreetAddress: $("#StreetAddress").val(),
                Landmark: $("#Landmark").val(),
                State: $("#State").val(),
                City: $("#City").val(),
                PostalCode: $("#PostalCode").val(),
            };
                $.post("/Address/AddOrUpdateAddress", param).done(function (result) {
                    Hide_Loader();
                    console.log(result);
                if (result.statusCode == -1) {
                    errors(result.responseText);

                }
                success(result.responseText);
            }).fail(function () {
                    Hide_Loader();
                errors("Address Error");
            });
        }
        }, 1500)
    }

    function validateAddress() {
        let isvalidated = true;
        let msg = "<ul>";

        function addError(message) {
            msg += `<li>${message}</li>`;
            isvalidated = false;
        }
        if ($("#RecipientName").val() === "") {
            addError("Please enter name");
        }
        if ($("#RecipientContact").val() === "") {
            addError("Please enter contact");
        }
        if ($("#StreetAddress").val() === "") {
            addError("Please enter address");
        }
        if ($("#Landmark").val() === "") {
            addError("Please enter  landmark");
        }
        if ($("#State").val() === "") {
            addError("Please enter state");
        }
         if ($("#City").val() === "") {
            addError("Please enter city");
        }
        if ($("#PostalCode").val() === "") {
            addError("Please enter postal code");
        }

        if (!isvalidated) {
            msg += "</ul>";
            Hide_Loader();
            errors(msg);
        }

        return isvalidated;
    }


    function UpdateBannerStatus(Id) {
        var id = $("#customSwitch3_" + Id).prop("checked");
        if (id == true) {
            id = 1;
        } else {
            id = 0;
        }
        var param = {
            BannerId: Id,
            Status: id,
        };
        Swal.fire({
            title: 'Are you sure you want to Update?',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Update it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Banners/UpdateStatus',
                    type: 'POST',
                    data: param,
                    success: function (data) {
                        showinsertsuccess("Banner Updated Successfully");
                        window.location.href = "/Banners/BannerList";
                    },
                });
            } else {

                showerror("Status Not Updated");
                window.location.href = "/Banners/BannerList";
            }
        });
    }

    function Show_Loader() {
        jQuery(".overlay-spinner").show();
    }

    function Hide_Loader() {
        jQuery(".overlay-spinner").hide();
    }
    function errors(msg) {
        var x = document.getElementById("snackbar5");
        x.className = "show5";
        setTimeout(function () { x.className = x.className.replace("show5", ""); }, 4000);
        jQuery("#snackbar5").html(msg);
    }
    function success(msg) {
        var x = document.getElementById("snackbar4");
        x.className = "show4";
        setTimeout(function () { x.className = x.className.replace("show4", ""); }, 4000);
        jQuery("#snackbar4").html(msg);
    }

</script>

