@model IEnumerable<Entities.Foodkart>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">100% Testy Flavorful Foods</h4>
                <h1 class="mb-5 display-3 text-primary">Delicious Veg & Non-Veg Foods</h1>
                <div class="position-relative mx-auto">
                    <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-relative rounded-pill text-white">Order Now</button>
                    <a href="/TableBooking" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 10%;">Book Table Now</a>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div id="PVBannerShow1"></div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fa fa-wrench fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Free Service</h5>
                        <p class="mb-0">Free service on online-order</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Security Payment</h5>
                        <p class="mb-0">100% security payment</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-exchange-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>03 Day Return</h5>
                        <p class="mb-0">03 day money guarantee</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fa fa-phone-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>24/7 Support</h5>
                        <p class="mb-0">Support every time fast</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featurs Section End -->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Today Special Delicious Food</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @foreach (var item in Model)
            {
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="@item.DishImage" class="img-fluid rounded-top" style="width:300px;height:200px;" onclick="OnItemDetail(@item.DishId);AddRecentView(@item.DishId);" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.DishCategoryName</div>
                    <div class="p-4 rounded-bottom">
                        <h5 style="width:auto;font:bolder ;font-size:large;font-weight:800;"><strong>@item.DishName</strong></h5>
                        <p>@item.DishDescription</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">@item.DishPrize</p>
                            <a onclick="GetVarientList(@item.DishId);" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Featurs Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
<div id="PVBannerShow2"></div>
    </div>
</div>

<div class="col-lg-12" id="RecentView">
</div>
<!-- Banner Section Start-->
<div class="container-fluid banner bg-secondary my-5">
    <div class="container py-5">
        <div id="PVBannerShow3"></div>
    </div>
    <div id="modalVarientPartialView"></div>
</div>
<!-- Banner Section End -->
<!-- End Specials Section -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@section Scripts {

    <script>
        function OnItemDetail(Id) {
            var Url = "/Details?Id=" + Id;
            window.location.href = Url;
        }
        function Onload() {

            $.post("/Category/RecentView").done(function (res) {
                $("#RecentView").html(res);
            }).fail(function () {
                alert("errror");
            })
        }
        Onload();
        function ShowBanner1() {
            $.post("/Banners/ShowBanner1").done(function (res) {
                $("#PVBannerShow1").html(res);
            }).fail(function () {
                alert("errror");
            })
        }
        ShowBanner1();
        function ShowBanner2() {
            $.post("/Banners/ShowBanner2").done(function (res) {
                $("#PVBannerShow2").html(res);
            }).fail(function () {
                alert("errror");
            })
        }
        ShowBanner2();

        function ShowBanner3() {
            $.post("/Banners/ShowBanner3").done(function (res) {
                $("#PVBannerShow3").html(res);
            }).fail(function () {
                alert("errror");
            })
        }
        ShowBanner3();


        function AddCart(Id) {
            debugger;
            let data = {
                Id: Id,
            };

            $.post('/Cart/AddCart', data)
                .done(function (res) {
                    if (res == -1) {
                        errors("This dish is already in the cart");
                    } else {
                        success("Dish added successfully to your cart.");
                        cartstatus();
                    }
                })
                .fail(function (res) {
                    errors("Kindly log in before adding a dish to your cart.");

                });
        }

        function ViewFoodKart(DishId) {
            let param = {
                DishId: DishId,
            };
            $.post("/Menu/Detail", param).done(function (response) {
                $("#PartialViewprodct").html(response);
                alert(response);
            }).fail(function () {
                alert("errror");
            })
        }

        function GetCategoryValue(DishCategoryId) {
            let data = {
                DishCategoryId: DishCategoryId,
            };

            $.post("/Category/AllDishCategoryList", data)
                .done(function (res) {
                    $("#Menucategory").html(res);
                })
                .fail(function () {
                    alert("error");
                });
        }

        function GetVarientList(DishId) {
            debugger;
            $.post("/Category/MenuQty", { DishId: DishId })
                .done(function (res) {
                    console.log(res);
                    $("#modalVarientPartialView").html(res);
                    $("#MyVarientModal").modal("show");
                })
                .fail(function () {
                    alert("error");
                });
        }
        function AddRecentView(DishId) {
            let param = {
                DishId: DishId,
            };
            $.post("/Category/AddRecentViewDetail", param).done(function (response) {
            }).fail(function () {
                alert("recent errror");
            })
        }

        function TeaKart() {
            $.post("/TeaKart/TeaKartDisplayList").done(function (res) {
                $("#MenuPartialView").html(res);
            }).fail(function () {
                alert("errror");
            })
        }


    </script>
}
